<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardStyle.css" />
  <script src="/javascripts/dashboardScript.js"></script>
</head>
<body>

  <body>

      <div class="main-container">

          <!-- HEADER -->
          <header class="block">
              <ul class="header-menu horizontal-list">
                  <li>
                      <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Settings</a>
                  </li>
                  <li>
                      <a class="header-menu-tab" href="#2"><span class="icon fontawesome-user scnd-font-color"></span>Account</a>
                  </li>
                  <li>
                      <a class="header-menu-tab" href="#3"><span class="icon fontawesome-envelope scnd-font-color"></span>Messages</a>
                      <a class="header-menu-number" href="#4">5</a>
                  </li>
                  <li>
                      <a
                  </li>
              </ul>
              <div class="profile-menu">
                  <p>Me <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p>
                  <div class="profile-picture small-profile-picture">
                      <img width="40px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg">
                  </div>
              </div>
          </header>

          <!-- LEFT-CONTAINER -->
          <div class="left-container container">
              <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                  <h2 class="titular">MENU BOX</h2>
                  <ul class="menu-box-menu">
                      <li>
                          <a class="menu-box-tab" href="#6"><span class="icon fontawesome-envelope scnd-font-color"></span>Messages<div class="menu-box-number">0</div></a>
                      </li>
                      <li>
                          <a class="menu-box-tab" href="#8"><span class="icon entypo-paper-plane scnd-font-color"></span>Box Of Compliments<div class="menu-box-number">3</div></a>
                      </li>
                      <li>
                          <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>The Dates<div class="menu-box-number">5</div></a>
                      </li>
                      <li>
                          <a class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>Account Settings</a>
                      </li>
                    
                  </ul>
              </div>
              <div class="donut-chart-block block"> <!-- DONUT CHART BLOCK (LEFT-CONTAINER) -->
                  <h2

</body>
</html>
